@import url('https://fonts.googleapis.com/css2?family=Castoro&family=Nunito:wght@800&display=swap');

#wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 auto;
}

#grid-container {
  display: grid;
  grid-template-rows: 125px 1fr 1fr 1fr 1fr 1fr 1fr 50px;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  grid-template-areas:
  "header header header header"
  "aside main main main"
  "aside main2 main2 main2"
  "main3 main4 main4 main4"
  "main5 main6 main6 main6"
  "main7 main8 main8 main8"
  "main9 main9 main9 main9"
  "footer footer footer footer";
  grid-gap: 5px;
}

h1 {
  color: #7DAB9B;
  font-size: 50px;
  text-align: center;
}

#header {
  grid-area: header;
  background-color: red;
}

#aside {
  grid-area: aside;
  background-color: blue;
}

#main {
  grid-area: main;
  background-color: blue;
}

#main2 {
  grid-area: main2;
  background-color: blue;
}

#main3 {
  grid-area: main3;
  background-color: blue;
}

#main4 {
  grid-area: main4;
  background-color: blue;
}

#main5 {
  grid-area: main5;
  background-color: blue;
}

#main6 {
	grid-area: main6;
	background-color: blue;
}

#main7 {
	grid-area: main7;
	background-color: blue;
}

#main8 {
	grid-area: main8;
	background-color: blue;
}

#main9 {
	grid-area: main9;
	background-color: blue;
}

#footer {
  grid-area: footer;
  background-color: green;
}

.gallery {
  width: 100%;
}

body {
  background-color: #0D2025;
  font-family: 'Nunito', sans-serif;
}

.flexcontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: #e47855 3px solid;
  padding: 20px;
}

.logo {
  height: 75px;
}

ul {
  list-style: none;
}

li {
  display: inline;
  padding: 15px;
  margin: 15px;
}

h2 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Nunito', sans-serif;
}

a:visited {
  color: #7DAB9B;
}

.button {
  width: 160px;
  height: 80px;
  background: #e47855;
  border-radius: 40px;
  padding: 10px;
}